{% extends 'base.html' %}

{% block title %}
    Suppliers List
{% endblock %}

{% block content %}
    <div class='container'>
        <h2 class='mt-4'>Supplier List</h2>
        <table class="table mt-4 table-bordered text-center table table-striped table-valign-middle datatable">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier.contact }}</td>
                        <td>{{ supplier.email }}</td>
                        <td>{{ supplier.address }}</td>
                        <td><a class='btn btn-dark me-4' href={% url 'edit-supplier' supplier.name %}>Edit</a>
                            <a class='btn btn-danger' href={% url 'delete-supplier' supplier.name %}>Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}